* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.button { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; display: inline-block; }

.button_large { font-size: 30px; }

.greenbutton { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; background: green; color: #fff; text-shadow: 0 -1px 0 black; display: inline-block; }
.greenbutton i { width: 10px; height: 10px; background: pink; display: inline-block; margin-right: 10px; }

.greenbutton_large { font-size: 30px; }
