@import "base";
// =======Sprites
// .whatever{
// 	@include sized-sprite($icons, badge_hit);
// 	@include retina{
// 		@include sized-sprite($icons, badge_new);
// 	}
// }
// =======animation example
// @include keyframes(rotate) {
//    from {
//       @include rotate(0);
//    }
//    to {
//       @include rotate(360);
//    }
// }
// body:hover{
// 	@include animation(rotate 200s linear infinite);
// }
// ========gradient example
// body{
// @include background-image(linear-gradient(#232323, #5c5c5c));
// }



*{margin:0;padding:0;-webkit-text-size-adjust: none; }
body{
	font: {
	    family: Arial,sans-serif;
	    weight: normal;
	    size: 12px;
	  	}
	line-height:1.4;
}
// resets
a img,fieldset{
	border:none;
	}
a{
	color:#00919e;
	&:hover{
		text-decoration:none;
	}
}
// common styles



