@import "base";
/* HOW TO USE SPRITES */
.whatever{
	@include sized-sprite($icons, badge_hit);
	@include retina{
		@include sized-sprite($icons, badge_new);
	}
}
//animation example
@include keyframes(anim-1) {
	0% {
		background:#fff;
	}
	50% {
		background:#000;
	}
	100%{
		background:#fff;
	}
}
body:hover{
	@include animation(anim-1 2s linear infinite);
}



*{margin:0;padding:0;-webkit-text-size-adjust: none; }
.out{
	width:100%;
}
body{
	font: {
	    family: Arial,sans-serif;
	    weight: normal;
	    size: 12px;
	  	}
	line-height:1.2;
}
/*resets*/
a img,fieldset{
	border:none;
	}
a{
	color:#00919e;
	&:hover{
		text-decoration:none;
	}
}



